@font-face {
    font-family: 'DistrictThin';
    src: url('distth__-webfont.eot');
    src: url('distth__-webfont.eot?#iefix') format('embedded-opentype'),
         url('distth__-webfont.woff') format('woff'),
         url('distth__-webfont.ttf') format('truetype'),
         url('distth__-webfont.svg#DistrictThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DinerRegular';
    src: url('diner-regular-webfont.eot');
    src: url('diner-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('diner-regular-webfont.woff') format('woff'),
         url('diner-regular-webfont.ttf') format('truetype'),
         url('diner-regular-webfont.svg#DinerRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #104B1C; /* Background color */
    color: #FFF; /* Foreground color used for text */
    font-family: georgia;
    font-size: 14px;
    margin: 0; /* Amount of negative space around the outside of the body */
    padding: 0; /* Amount of negative space around the inside of the body */
}

#header h1 {
    margin: 0;
    padding: 0;
}

#header h1 {
		background-color: #104B1C;
		color: #FFF;
    display: block;
    font-size: 30px;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
}

#header h1 {
		text-shadow: 2px 0px 0px #222;
		background-image: -webkit-gradient(linear, left top, left bottom, from (#999), to(#ccc));
}

hr {
   width: 90%;
   height: 1.5px;
   color: #fff;
   background-color: #fff;
}

#welcomeText {
			 margin: 0;
			 padding: 10px 0;
}

#welcome {
		 margin: 0;
		 padding: 0;
		 display: block;
		 font-size: 20px;
		 padding: 5px 0 5px 0;
		 text-align: center;
		 text-decoration: none;
}

#barName {
		 margin: 0;
		 padding: 0;
		 display: block;
		 font-size: 35px;
		 padding: 0 0 0 0;
		 text-align: center;
		 text-decoration: none;
}

#address {
				margin: 0;
						padding: 0;
								 display: block;
								 		  font-size: 20px;
										  			 padding: 0 0 10px 0;
													 		  text-align: center;
															  			  text-decoration: none;
																		  }

#comingSoon {
			margin: 10px auto;
			padding: 0;
			display: block;
			font-size: 17px;
			padding: 10px;
			text-align: justify;
			text-decoration: none;
}

#grabBeer ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}
#grabBeer ul li a {
		  margin-left: auto;
		  margin-right: auto;
		  width: 80%;
    background: #FFFFFF url('buttonStrip.jpg') repeat-x;
    border: 2px solid #999999;
    color: #222222;
    display: block;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-align: center;
	text-decoration: none;
}

#other ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}
#other ul li a {
	   margin-left: auto;
	   margin-right: auto;
    width: 40%;		 
	height: 18px;
	background: #FFFFFF url('buttonStrip.jpg') repeat-x;
    border: 2px solid #999999;
    color: #222222;
    display: block;
    font-size: 14px;
    margin-bottom: -1px;
    padding: 12px;
    text-align: center;
	text-decoration: none;
}


#grabBeer ul li:first-child a {
		  -webkit-border-top-left-radius: 8px;
		  -webkit-border-top-right-radius: 8px;
		  -webkit-border-bottom-left-radius: 8px;
		  -webkit-border-bottom-right-radius: 8px;
}

#grabBeer div.pressed {
		  -webkit-border-image: url(images/button_clicked.png) 0 8 0 8;
}

#other ul li:first-child a {
	   -webkit-border-top-left-radius: 8px;
	   -webkit-border-top-right-radius: 8px;
	   -webkit-border-bottom-left-radius: 8px;
	   -webkit-border-bottom-right-radius: 8px;
}

#formMenu {
		  margin: 0 auto;
		  padding: 0 20px;
		  width: 100%;
}

.form-row {
		  width: 100%;
}

#contentPayment {
				margin: 0 20px;
}

form {
	 font-size: 16px;
}

.submit-button {
			   margin-left: auto;
			   margin-right: auto;
			   width: 80%;
    background: #FFFFFF url('buttonStrip.jpg') repeat-x;
    border: 2px solid #999999;
    color: #222222;
    display: block;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-align: center;
	text-decoration: none;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}