<body>
<div id="container">
  <div id="header">
	<h1>BarNecessity</h1>
	</div>
  <hr>
  <hr>
  <div id="content">
	<div id="currentBar">
	  <p id="welcome">Thanks for your order!</p>
	  <p id="comingSoon">Your receipt has been e-mailed to you.  We will text you when your drinks are ready!</p>
	  <div id="grabBeer">
		<ul>
		  <li><a href="home.html">New Order</a></li>
		  </ul>
		</div>
	  </div>
	</div>
</div>

